# sudo apt-get install libleptonica-dev 
# sudo apt-get install tesseract-ocr tesseract-ocr-dev
# sudo apt-get install libtesseract-dev
# sudo apt install tesseract-ocr

# http://exploringafrica.matrix.msu.edu/wp-content/uploads/2015/06/Economic-data-table-pt.-1.png
# http://exploringafrica.matrix.msu.edu/wp-content/uploads/2015/06/Economic-data-table-pt-2.png
# http://exploringafrica.matrix.msu.edu/wp-content/uploads/2016/02/Table-7-pt.-3.png
# https://illinoisepi.org/site/wp-content/uploads/economic-table.jpg
# https://d3i71xaburhd42.cloudfront.net/feedf5b8040023d71b9f90cfddb8775fb16ff078/27-Table1-1.png

dependency-injector
flask
pandas
lxml
flask-socketio==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
websocket
flask-login
pymongo
html5lib
BeautifulSoup4
simplejson
python-interface
tabula-py
opencv-python
table_ocr
wikipedia
camelot-py