html, body, #root {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header {
    padding: 0 32px 0 32px!important;
    height: 54px;
    margin-bottom: 2px;
}

.main {
    width: 100%; 
    height: 100%; 
    display: table;
    position: absolute;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.outer {
    flex-wrap: nowrap; 
    margin-left: auto; 
    margin-right: auto; 
    position: relative; 
    width: calc(100% - 40px); 
    max-width: 750px; 
    min-width: 320px; 
    padding: 48px
}

.note > p {
    text-indent: 25px
}

.box {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;    
}

.logo{
    display: inline-flex;
    color: grey;
    height: 54px;
    padding: 8px;
    box-sizing: border-box;
    gap: 8px;
}

.pipe {
    position: relative;
    padding: 0px 16px;
}

.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none; 
              user-select: none; 
  }

.pipe::before {
    border-left: 2px solid #000;
    height: 24px;
    content: " ";
    margin-left: 7px;
    position: absolute;
    top: 15px;
    left: 0;
}

@media (max-width: 767px) {
    .outer {
        padding: 0px;
        padding: 48px 0px;
    }

    .ms-fontSize-68 {
        font-size: 32pt !important;
    }

    .ms-fontSize-28 {
        font-size: 18px !important;
    }

    .event_panel {
        margin-top: 35px !important;
    }

    .event_panel > .ms-Stack {
        flex-flow: column nowrap
    }

        .event_panel > .ms-Stack > .ms-Button {
            width: 200px
        }

            .event_panel > .ms-Stack > .ms-Button:not(:first-child) {
                margin-top: 24px;
                margin-left: 0px
            }

            .event_panel > .ms-Stack > .ms-TextField:not(:first-child) {
                margin-top: 24px;
                margin-left: 0px
            }

    .note {
        font-size: 1em !important;
    }

    .NoteButtons {
        justify-content: center !important;
    }

        .NoteButtons > .ms-Button {
            width: 200px
        }

    .btn {
        width: 200px
    }
}
